h1{
    border-style: solid dotted dashed ridge;
    border-width: 5px 5px 10px 10px;
    border-color:red blue yellow green;
}
.class1{
    color:red;
}
p{
    
    color:gray;

}
.class1{
    background-image: url("hill2.jpg");
     background-repeat: no-repeat;
    background-attachment: fixed;
    background position: left top;
    height: 3000px;
    width: 5000%;
}
.class1 h1{
    color: violet;
}
.class1 #pfirst{
    color:cyan;
    background-color: blanchedalmond;
}

